html, body {
    width: 100%;
    margin: 0;
    font-family: "Dosis", sans-serif;
    overflow-x: hidden;
}
  
#container {
min-height: 100%;
position: relative;
}

.topnav {
    height: 41px;
    font-size: 1.5em;
    top: 0;
    width: 100%;
    position: fixed;
    background: black;
    z-index: 100;
    a {
      text-decoration: none;
      color: #c1c1c1;
      padding: 10px 15px 10px 10px;
    }
    a:first-child {
      height: 100%;
      color: #191919;
      background-color: #e5e5e5;
    }
    a:not(:first-child) {
      display: none;
    }
    a.icon {
      float: right;
      display: block;
      padding: 0 10px 0 0;
    }
}